:root {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(93,93,93);
    background: radial-gradient(circle, rgba(93,93,93,1) 0%, rgba(0,0,0,1) 100%);
}

.card {
    width: 25rem;
    height: 40rem;
    background-color: #000;
    clip-path: polygon(5% 0, 74% 0, 100% 0, 100% 95%, 95% 100%, 25% 100%, 0 100%, 0 5%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 24.5rem;
    height: 39.6rem;
    clip-path: polygon(5% 0, 95% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 95%, 0 5%);
    background: rgb(54,0,84);
    background: linear-gradient(40deg, rgba(54,0,84,1) 0%, rgba(162,0,255,1) 51%, rgba(54,0,84,1) 100%);
}

.card-header, .card-footer {
    background-color: #000;
    height: 5%;
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-header span {
    color: #fff;
    font-size: 1.1rem;
    padding: 0 1rem;
}

.card-content {
    width: 100%;
    height: 35.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.card-image {
    background-color: #353535;
    width: 95%;
    height: 15rem;
    color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: transform 0.5s ease-out;
}


.card-text {
    width: 90%;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text p {
    color: #fff;
    font-size: 1.2rem;
}
button,
button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

/* botão clicado */

@keyframes slideUp {
    to {
      transform: translateY(-100%);
    }
  }
  

  .card-image.remove-image {
    animation: remove-image 0.5s forwards;
  }
  
  @keyframes remove-image {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
      display: none;
    }
  }
  
  .card-text.glitch-effect {
    position: relative;
    animation: glitch-text 1s linear infinite;
  }
 